footer {
  width: 100%;
  height: 100px;
  margin-top: 50px;
  background-color: #ddd;
  text-align: center;
  font-size: 14px;
  position: relative;
  bottom: 0px;
}
footer a {
  display: inline-block;
  margin: 10px 20px 10px 30px;
}
footer p {
  margin-top: 0;
  margin-bottom: 0;
}
footer p span {
  display: inline-block;
  margin-left: 20px;
}
