.head2 {
  /* background-color: #666666; */
  background-color: #283858;
  width: 100%;
  height: 80px;
}
.head {
  width: 100%;
  height: 200px;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  /* border-top: 80px solid #666666; */
  border-top: 80px solid #283858;
  margin-bottom: -100px;
  text-align: center;
}
.headIn {
  position: absolute;
  top: -7px;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  right: 0%;
  margin-right: 30px;
}
#title {
  font-family: fantasy;
  font-size: 38px;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 5px;
  word-spacing: 7px;
  /* line-height: 40px; */
}
